.navbar.scroll-right .nav-items {
    animation: scroll-right 0.5s ease-in-out;
  }
  
  @keyframes scroll-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

img{
    border-radius: 40px;
}