.navbar {
    overflow-x: auto;
    white-space: nowrap;
    background-color:  rgb(32, 31, 31);
    padding: 10px;
  }
  
  .nav-items {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .nav-items a {
    display: inline-block;
    color: rgb(253, 245, 5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-items a:hover {
    background-color: rgb(250, 255, 255);
    color: rgb(56, 55, 55);
    border-radius: 40px;
  }
